<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{/script.js}" defer></script>
    <script src="https://kit.fontawesome.com/d29d7d4ce7.js" crossorigin="anonymous"></script>
    <title>Edit Product</title>
</head>
<body>
<header th:replace="fragments/general.html :: header"></header>

<div class="main-container my-6 is-flex is-justify-content-center">
    <div class="edit-container mx-3">
        <h1 class="title is-2 has-text-centered mb-6">Edit Product</h1>
        <div>
            <form id='edit-form' th:object="${product}" method="POST" enctype="multipart/form-data">
                <div class="field">
                    <p class="my-3">
                        <label class="subtitle">Name</label>
                    </p>
                    <input class="input" type="text" th:field="*{name}" th:value="${product.getName()}"
                           id="product-name"
                           required>
                    <p th:each="error: ${#fields.errors('name')}" class="has-text-danger"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="field">
                    <p class="my-3">
                        <label class="subtitle">Description</label>
                    </p>
                    <textarea th:text="${product.getDescription()}" th:field="*{description}" class="textarea"
                              id="product-description" required></textarea>
                    <p th:each="error: ${#fields.errors('description')}" class="has-text-danger"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="field">
                    <p class="my-3">
                        <label class="subtitle">Current Image URL</label>
                    </p>
                    <input class="input" type="text" th:field="*{imageURL}" th:value="${product.getImageURL()}"
                           id="product-imageurl" readonly>
                </div>
                <div class="field">
                    <p class="my-3">
                        <label class="subtitle">Image Upload</label>
                    </p>
                    <input type="file" th:field="*{tempImage}" class="input" accept=".png,.jpeg,.jpg,.gif,.svg">
                    <p th:each="error: ${#fields.errors('tempImage')}" class="has-text-danger"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="field">
                    <p class="my-3">
                        <label class="subtitle">Category</label>
                    </p>
                    <div class="select is-primary is-multiple">
                        <select th:field="*{categories}" multiple>
                            <option th:field="*{categories}" th:each="category : ${categories}"
                                    th:value="${category.getName()}" th:text="${category.getName()}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <p class="my-3">
                        <label class="subtitle">Quantity</label>
                    </p>
                    <input class="input" type="number" th:field="*{quantity}" th:value="${product.getQuantity()}"
                           id="product-quantity" required>
                    <p th:each="error: ${#fields.errors('quantity')}" class="has-text-danger"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="field">
                    <p class="my-3">
                        <label class="subtitle">Price</label>
                    </p>
                    <input class="input" type="number" step="any" th:field="*{originalPrice}"
                           th:value="${product.getOriginalPrice()}" id="product-price" required>
                    <p th:each="error: ${#fields.errors('price')}" class="has-text-danger"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="field">
                    <p class="my-3">
                        <label class="subtitle">Discount Rate</label>
                    </p>
                    <input class="input" type="number" step="0.1" th:field="*{discountRate}"
                           th:value="${product.getDiscountRate()}" id="product-discount" required>
                    <p th:each="error: ${#fields.errors('discountRate')}" class="has-text-danger"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="field">
                    <p class="my-3">
                        <label class="subtitle">Hidden</label>
                    </p>
                    <div class="control">
                        <label class="radio">
                            <input class="radio" type="radio" name="hidden" th:field="*{hidden}"
                                   th:checked="${product.isHidden()}" value="true"
                                   required>
                            Yes
                        </label>
                        <label class="radio">
                            <input class="radio" type="radio" name="hidden" th:field="*{hidden}"
                                   th:checked="${!product.isHidden()}" value="false"
                                   required>
                            No
                        </label>
                    </div>
                </div>
                <button type="submit" class="button my-3 is-light is-primary" id="update-button">Update</button>
            </form>
        </div>
    </div>
</div>
<footer th:replace="fragments/general.html :: footer"></footer>
</body>
</html>