body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    flex: 1;
}

.navbar-start {
    flex: 1 1 0;
    min-width: 0;
}

.footer {
    padding: 30px;
}

#search-box, #search-box.input {
    flex-grow: 1;
    margin-right: 1rem;
}

.image img {
    height: 100%;
    object-fit: cover;
}

.product-card {
    width: 300px;
    margin: 10px auto;
}

.card-column {
    flex-grow: 0;
}

.product-page {
    width: 90%;
    margin: 0 auto;
}

.strike-through {
    text-decoration: line-through;
}

.login-container {
    width: 300px;
}

.payment-container {
    width: 500px;
}

.edit-container, .add-container {
    max-width: 1000px;
    margin: 0;
    flex-grow: 1;
}

.product-image {
    max-width: 600px;
}

.image .cover-image {
    object-fit: fill;
    max-width: 500px;
}

hr {
    width: 50%;
    margin: 20px auto;
    display: block;
}

.featured-body {
    padding-top: 0;
}

/*Waves*/
.wave-container {
    position: relative;
    background: #0D5F82;
    color: #FFF;
    text-align: center;
    overflow: hidden;

}

.wave-container svg {
    display: block;
}

.waves {
    background-color: white;
}

/* 404 page credits: https://codepen.io/saransh/pen/aezht*/
svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -400px;
}

.message-box {
    height: 200px;
    width: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: 50px;
    color: #000;
    font-weight: 300;
}

.message-box h1 {
    font-size: 60px;
    line-height: 46px;
    margin-bottom: 40px;
}

.buttons-con .action-link-wrap {
    margin-top: 40px;
}

#Polygon-1, #Polygon-2, #Polygon-3, #Polygon-4, #Polygon-4, #Polygon-5 {
    animation: float 1s infinite ease-in-out alternate;
}

#Polygon-2 {
    animation-delay: .2s;
}

#Polygon-3 {
    animation-delay: .4s;
}

#Polygon-4 {
    animation-delay: .6s;
}

#Polygon-5 {
    animation-delay: .8s;
}

@keyframes float {
    100% {
        transform: translateY(20px);
    }
}

@media (max-width: 450px) {
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -250px;
        margin-left: -190px;
    }

    .message-box {
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -190px;
        text-align: center;
    }
}

