<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><title></title></head>

<body>
<header th:fragment="header">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" th:href="@{/}">
                <img src="https://cdn.cdnlogo.com/logos/a/1/amazon-icon.svg" alt="logo">
            </a>
            <a class="navbar-item is-size-5" th:href="@{/}">Amazon</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" th:href="@{/browse}">
                        Products
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" th:href="@{/browse(category=ELECTRONICS)}">
                            Electronics
                        </a>
                        <a class="navbar-item" th:href="@{/browse(category=FOOD)}">
                            Food
                        </a>
                        <a class="navbar-item" th:href="@{/browse(category=BOOKS)}">
                            Books
                        </a>
                    </div>
                </div>

                <a class="navbar-item" th:href="@{/browse(category=OFFERS)}">
                    Offers
                </a>

                <a class="navbar-item" th:href="@{#}">
                    Contact
                </a>

                <div class="navbar-item" th:id="search-box">
                    <input class="input is-normal is-fullwidth" type="text" placeholder="Search" id="search-input">
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<footer class="footer" th:fragment="footer">
    <div class="content columns is-centered is-3 is-mobile">
        <a class="fab fa-2x fa-instagram column is-narrow has-text-dark" th:href="@{#}"></a>
        <a class="fab fa-2x fa-facebook footer-icon column is-narrow has-text-dark" th:href="@{#}"></a>
        <a class="fab fa-2x fa-twitter footer-icon column is-narrow has-text-dark" th:href="@{#}"></a>
    </div>
</footer>
</body>

</html>