<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{/script.js}" defer></script>
    <script src="https://kit.fontawesome.com/d29d7d4ce7.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
<header th:replace="fragments/general.html :: header"></header>
<div class="main-container container my-6">
    <h1 class="title is-2 has-text-centered mb-6 is-capitalized"
        th:text="Cart"></h1>
    <table class="table is-hoverable">
        <thead>
        <tr>
            <th>Product Name</th>
            <th class="has-text-centered">Quantity</th>
            <th class="has-text-right">Price</th>
            <th></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th></th>
            <th class="has-text-centered">Total</th>
            <th th:text="${#numbers.formatCurrency(cart.getTotal())}" class="has-text-right" id="cart-total-price"></th>
            <th></th>
        </tr>
        </tfoot>
        <tbody>
        <tr th:each="item : ${cart.cartItems}">
            <td th:text="${item.getProduct().getName()}"></td>
            <td>
                <div class="is-flex is-align-items-center is-justify-content-space-around is-marginless">
                    <button class="icon is-small button"
                            th:attr="onclick=|editCart(${item.product.id}, 1, false, true, this)|">
                        <i class="fas fa-minus"></i>
                    </button>
                    <p th:text="${item.getQuantity()}" class="has-text-centered mx-3"></p>
                    <button class="icon is-small button"
                            th:attr="onclick=|editCart(${item.product.id}, 1, true, true, this)|">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </td>
            <td th:text="${#numbers.formatCurrency(item.getPrice())}" class="has-text-right item-price"></td>
            <td>
                <button class="button is-small is-danger is-rounded"
                        th:attr="onclick=|deleteFromCart(${item.product.id}, this)|">
                    Remove
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="fragments/general.html :: footer"></footer>
</body>

</html>