<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{/script.js}" defer></script>
    <script src="https://kit.fontawesome.com/d29d7d4ce7.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
<header th:replace="fragments/general.html :: header"></header>
<section class="hero is-primary" sec:authorize="isAuthenticated()">
    <div class = "hero-body">
        <p class ="title">
            Welcome!
        </p>
        <p class = "subtitle" th:text="${user.firstName}">
        </p>
    </div>
</section>
<section class="hero has-background-danger-light">
    <div class="hero-body">
        <p class="title">
            <span class="mr-5">Featured This Week</span>
            <button class="button is-primary" onclick="window.location.href='/browse'">
                Browse
            </button>
        </p>
        <div class="subtitle" th:replace="fragments/cards.html :: cards(${featured})"></div>
    </div>
</section>
<section class="hero has-background-warning-light">
    <div class="hero-body">
        <p class="title">
            <span class="mr-5">Offers</span>
            <button class="button is-primary" onclick="window.location.href='/browse'">
                Browse
            </button>
        </p>
        <div class="subtitle" th:replace="fragments/cards.html :: cards(${offers})"></div>
    </div>
</section>

<footer th:replace="fragments/general.html :: footer"></footer>
</body>

</html>