<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{/script.js}" defer></script>
    <script src="https://kit.fontawesome.com/d29d7d4ce7.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>Contact</title>
</head>

<body>
<header th:replace="fragments/general.html :: header"></header>
<div class="columns main-container container mt-4 contact-page is-align-items-flex-start">
    <div class="column">
        <h1 class="title is-2 has-text-centered mb-6 is-capitalized"
            th:text="Messages"></h1>
        <div class="has-text-centered pb-2" sec:authorize="hasAnyRole('ROLE_USER')">
            <button class="button is-light is-info my-1" th:attr="onclick=|viewNewMessage(${user.id})|">
                New Message
            </button>
        </div>
        <table class="table is-hoverable is-fullwidth messages">
            <tbody class="clickable">
            <tr th:each="message : ${messages}" th:attr="onclick=|viewMessage(${message.id})|"
                sec:authorize="hasAnyRole('ROLE_USER')">
                <td th:text="${#dates.format(message.getCreatedDate(), 'd-M-yyyy')}" class="has-text-centered"></td>
                <td th:text="${message.getSubject()}" class="has-text-centered"></td>
                <td th:text="${message.getType().name()}" class="has-text-centered"></td>
            </tr>
            <tr th:each="message : ${messages}" th:attr="onclick=|viewMessageAdmin(${message.id})|"
                sec:authorize="hasAnyRole('ROLE_ADMIN')">
                <td th:text="${#dates.format(message.getCreatedDate(), 'd-M-yyyy')}" class="has-text-centered"></td>
                <td th:text="${message.getSubject()}" class="has-text-centered"></td>
                <td th:text="${message.getType().name()}" class="has-text-centered"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="column" id="contact-view">

    </div>
</div>
<div class="has-text-centered" sec:authorize="hasAnyRole('ROLE_USER')">
    <h2 class="is-capitalized has-text-weight-bold">GDPR Compliance</h2>
    <a class="button is-normal is-danger mt-2 mb-4" th:attr="onclick=|location.href='/user/gdpr'|">
        Access My Data
    </a>
</div>
<footer th:replace="fragments/general.html :: footer"></footer>
</body>

</html>