<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <h1 class="title is-2 has-text-centered mb-6 is-capitalized">View Message</h1>
    <p th:text="${message.getType().name()}" class="mb-2 has-text-success has-text-centered subtitle"
       id="messageType"></p>
    <h2 class="is-capitalized has-text-weight-bold">Message #</h2>
    <p th:text="${message.getId()}" class="mb-2" id="messageId"></p>
    <h2 class="is-capitalized has-text-weight-bold">Customer</h2>
    <p th:text="${message.getUser().getFullName()}" class="mb-2"></p>
    <h2 class="is-capitalized has-text-weight-bold">Subject</h2>
    <p th:text="${message.getSubject()}" class="mb-2" id="subject"></p>
    <h2 class="is-capitalized has-text-weight-bold">Message:</h2>
    <textarea class="textarea is-info" th:text="${message.getMessageContent()}" readonly></textarea>
    <div sec:authorize="hasAnyRole('ROLE_ADMIN')" class="mt-3" id="reply-box">
        <div class="has-text-centered pt-2">
            <p class="title is-4 pt-2">Answer Message</p>
            <div class="field">
                <textarea class="textarea" id="messageContent" placeholder="Your reply goes here..."></textarea>
            </div>
            <button class="button my-3 is-light" th:attr="onclick=|sendMessage(${message.getUser().getId()})|">Send
                Reply
            </button>
        </div>
    </div>
</div>